<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>signin</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </head>
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Test App</a>
        </div>
        <ul class="nav navbar-nav">
          <li class="active"><a href="{% url 'home:my_home'%}">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="{% url 'home:my_signin'%}"><span class="glyphicon glyphicon-user"></span> Sign in</a></li>
        </ul>
      </div>
    </nav>
    <div class="container">
      <h1>sign in</h1>
      {% if messages %}
        {% for message in messages %}
          {{message}}<br>
        {% endfor %}
      {% endif %}
      <form  action="{% url 'home:my_vsignin'%}" method="post">
        {% csrf_token %}
        Email Address:<br>
        <input type="text" name="email" value=""><br>
        Password:<br>
        <input type="password" name="password" placeholder="password" value=""><br>
        <button type="submit" class="btn btn-success">Sign in</button>
      </form>
      <a href="{% url 'home:my_register'%}">Don't have an account? register</a>
    </div>
  </body>
</html>
